@font-face{
  font-family: MyFont;
  src:url(Nunito.ttf)
}

.custom-btn {
  width: 8.125rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 5px;
  padding: 0.625em 1.5em;
  font-family: inherit;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 3000ms ease;
  position: relative;
  display: inline-block;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
   7px 7px 20px 0px rgba(0, 0, 0, .1),
   4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  border: none;
}

.btn-1 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(50, 50, 50); /* Black color */
  background: linear-gradient(0deg, rgba(50, 50, 50, 1) 0%, rgba(100, 100, 100, 1) 100%); /* Black gradient */
}

.btn-1:hover {
  color: #ffffff; /* Red hover text color */
  background: transparent;
  box-shadow: none;
}
.btn-1:before,
.btn-1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #333333;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-1:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-1:hover:before,
.btn-1:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.content {
  text-align: center;
  font-family: MyFont;
  text-shadow: black 35px 15px 30px;
}

.changelog {
  text-align: center;
 font-family: MyFont;
 text-shadow: black 35px 15px 30px;
}

.main {
  animation: transition 1s ;
}

@keyframes identifier {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}